@tailwind base;
@tailwind components;
@tailwind utilities;

.table-scroll::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.table-scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #E6E8EA;
  border-radius: 10px;
}

/* Handle */
.table-scroll::-webkit-scrollbar-thumb {
  background: #6F80A0;
  border-radius: 10px;
}

.bg-warning {
  min-width: 170px;
  margin: 0 auto;
}